@import '~@/scss/brakepoints.scss';

.title {
  font-size: 18px;

  @include min-tablet() {
    font-size: 22px;
  }
  @include min-desktop() {
    font-size: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 4px;

    @include min-tablet() {
      margin-bottom: 8px;
    }
  }
}
